<div id = 'new-peep'>
  <form method='post' action='/chitter'>
    <input type = 'text' id= 'status' name='status' required />
    <input type='submit' value='Submit' />
  </form>
  <table>
    <tr>
     <td>Peep</td>
     <td>Peeped At</td>
    </tr>
    <% @peeps.each do |record| %>
    <tr>
      <td class='new_peep'><%= record['peep'] %></td>
      <td class='new_peep'><%= Time.parse(record['created_at']).strftime('%H:%M:%S %p %A') %></td>
    </tr>
    <% end %>
  </table>
  
</div>
